<%- include("partials/header") -%>
    </head>
    <body>
        <div id="child">
            <h1 style="font-size: xxx-large; margin: 3% 0;" class="text-center">Weather Point</h1>
            <form action="/" method="post" autocomplete="off">
                <h1 style="font-size: 1rem; margin: 23px; padding: 0 5%;">Enter the Name of the Area and click on submit to get Current Weather Data</h1>
                <input style="background-color: transparent; border-bottom: 2px solid;" type="text" name="nameOfTheArea">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
       </div>
    </body>
</html>